<h2 style="margim-bottom: 25px">Olá, {{ name }} </h2>
<h3>Você tem uma nova entrega disponível:</h3>
<p>Detalhes da entrega abaixo:</p>
<p>
<strong>Identificador da Entrega:</strong> {{ id }}  <br>
<strong>Produto:</strong> {{ product }}   <br><br>
<strong>Logradouro:</strong> {{ street }},
<strong>N: </strong> {{ number_address }}<br>
<strong>Bairro:</strong> {{ neighborhood }} <br>
<strong>Cidade:</strong> {{ city }}/{{ state }} <strong>CEP:</strong> {{ zip_code }} <br> 
<strong>Complemento:</strong> {{ complement }} <br><br>
<strong>Data/Hora do pedido:</strong> {{ date_start }} <br>
</p> 